<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Autowheelrent">
    <meta name="author" content="Autowheelrent">
    
    <title>Cars | Autowheelrent</title>
    
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <nav class="bg-white p-4 shadow-lg">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-2xl font-semibold text-blue-500" href="#">Autowheelrent</a>
            <div class="md:flex space-x-4 mt-4 md:mt-0">
                {% if not user.is_authenticated%}
                    <a class="text-gray-600 hover:text-gray-900" href="{% url 'login' %}">Login</a>
                {% else %}
                    <a class="text-gray-600 hover:text-gray-900" href="{% url 'dashboard' %}">Dashboard</a>
                {% endif %}
                <a class="text-gray-600 hover:text-gray-900" href="{% url 'home' %}">Home</a>
                <a class="text-gray-600 hover:text-gray-900" href="{% url 'about' %}">About</a>
                <a class="text-gray-600 hover:text-gray-900" href="{% url 'services' %}">Services</a>
                <a class="text-gray-600 hover:text-gray-900" href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </nav>
    <div class="container mx-auto py-8">
        <h1 class="text-center text-2xl font-bold mb-4">Available Cars</h1>

        <!-- Filters Section -->
        <!-- Car Listing Section -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for car in cars %}
            <div class="bg-white p-4 border rounded-md shadow-md h-100%">
                <img src="{{ car.car_image.url }}" alt="{{ car.model }}" class="w-full rounded-md  mb-2">
                <h2 class="text-lg text-center font-semibold">{{ car.model }}</h2>
                <p class="text-gray-600 text-center">{{ car.year }} {{ car.body_style }} in {{ car.city }}</p>
                <div class="grid grid-cols-2 gap-4">
                    <div class="col-span-1 p-4">
                        <span class="text-xl font-bold">${{car.price}} Per day</span>
                    </div>
                    <div class="col-span-1  p-4">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full transition-colors duration-300 ease-in-out transform hover:scale-105">
                        Rent Now
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <!-- Pagination -->
        <div class="mt-4">
            <span class="font-semibold">Page {{ cars.number }} of {{ cars.paginator.num_pages }}.</span>
            {% if cars.has_previous %}
            <a href="?page=1" class="mx-2 text-blue-500 hover:text-blue-700">First</a>
            <a href="?page={{ cars.previous_page_number }}" class="mx-2 text-blue-500 hover:text-blue-700">Previous</a>
            {% endif %}
            {% if cars.has_next %}
            <a href="?page={{ cars.next_page_number }}" class="mx-2 text-blue-500 hover:text-blue-700">Next</a>
            <a href="?page={{ cars.paginator.num_pages }}" class="mx-2 text-blue-500 hover:text-blue-700">Last</a>
            {% endif %}
        </div>

        </div>
    </div>

</body>
</html>
